<IfModule mod_rewrite.c>

    RewriteEngine On

    #RewriteBase /examen ingenia/

    #RewriteBase /

    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ index.php?/$1 [L]
    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ index.php?/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]

    ##### rewrite exceptions
    RewriteCond $1 !^(index.php|css|js|fonts|img|plugins|files|robots.txt)
    RewriteRule ^(.*)$ index.php?/$1 [L]
    
</IfModule>



<IfModule !mod_rewrite.c>

    ErrorDocument 404 index.php

</IfModule>  